.RegistrationBody {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.RegistrationForm {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://million-wallpapers.ru/wallpapers/3/36/470573795770367/barokko-oboi-10.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.RegistrationInput {
    width: 20rem;
    height: 5rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: black;
}

.RegistrationInput::-webkit-input-placeholder {
    color: black;
}

.RegistrationButton {
    margin-top: 4rem;
    border-radius: 1rem;
    width: 15rem;
    height: 3rem;
    font-weight: bolder;
    font-family: sans-serif;
    color: black;
    text-align: center;
    background-color: rgba(124, 255, 205, 0.493);
}